body{
	margin: 0%;
}

h1,h2,h3 {
	width: 100%;
	padding-top:  10px;
	padding-bottom: 10px;
	text-align: center;
	float: left;
}
div{
	width: 100%; 
	margin: 0%; 
	float: left;
}
form{
	width: 90%; 
	margin-left: 5%;
	margin-right: 5%;
	float: left;
	box-shadow: 0 1px 5px 0 black;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 2%;
	margin-bottom: 2%;
	height: auto;
	border-radius: 20px;
}
input {
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 2%;
	margin-bottom: 2%
}
button{
    width: 30%;
	margin-left: 35%;
	margin-right: 35%;
	margin-top: 2%;
	margin-bottom: 2%	
}
label{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 2%;
	margin-bottom: 2%
}
p{
    text-align: left;
	margin-top: 2%;
	padding: 50px; 
	line-height: 1.5;
	margin-bottom: 2%;
	font-size: 25px; 
}
td{
	border-bottom: 1px green solid;
}
* {
  box-sizing: border-box;
}


#myTable {
  border-collapse: collapse;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding-left: 25px;
  padding: 20px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.head, #myTable tr:hover {
  background-color: #f1f1f1;
}

.link{
	text-align: center;
	border:solid 0.5px black;
	width: 92%;
	float: left;
	margin: 4%;
    text-decoration:none; 
    color: black;
    background-color: lightgreen;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div1{
	width: 60%; 
	margin: 0%;
	float: left;

}
.div2{
	width: 34%; 
	margin-left: 3%;
	margin-right: 3%;
	margin-top: 1%;
	float: right;
    box-shadow: 0 1px 5px 0 black;
    border-radius: 20px;
}

.divsx{
	width: 50%; float: left;
}
.divdx{
	width: 50%;float: right;
}


.Risposta{
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	background-color: lightgreen;
}

.topnav{
	background-color: green;
	padding-top: 30px; 
	padding-bottom: 30px;
}
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  background-color: white;
  font-size: 17px;
  display: inline-flex;
}

.myLinks{
	text-align: center;
}

.myInput{
	padding-top: 10px; padding-bottom: 10px; border: lightgreen solid 3px;text-align: center; border-radius: 4px;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;	
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}


.header {
  padding: 60px;
  float: left;
  text-align: center;
background-image: url(Foto/F3.jpg);

background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
  color: green;
  font-size: 40px;
}

.headernotizie {
  padding: 60px;
  float: left;
  text-align: center;
background-image: url(Foto/F1.jpg);

background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
  color: green;
  font-size: 40px;
}



/* The Modal (background) */
.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.linkmodal{
	text-align: center;
	border:solid 0.5px black;
	width: 20%;
	float: left;
	margin-left: 40%;
	margin-right: 40%;
    text-decoration:none; 
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 5px 5px green;
    cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 27%;
  margin: 3.1%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}




@media only screen and (max-width:1000px) {
    h1,h2,h3 {
	width: 100%;
	padding-top:  10px;
	padding-bottom: 10px;
	text-align: center;
	float: left;
	font-size: 70px;

   }
   p{
   	font-size: 40px;
   }
	.topnav{
		background-color: green;
		padding-top: 50px; 
		padding-bottom: 50px;
	}
	.topnav a {
	  color: black;
	  padding: 14px 16px;
	  text-decoration: none;
	  background-color: white;
	  font-size: 40px;
	  display: inline-flex;
	}

	.myLinks{
		text-align: center;
	}
	.divsx{
		width: 100%; float:left;
	}
	.divdx{
		width: 100%; float: right;
	}


	.fa {
	  padding: 30px;
	  font-size: 50px;
	  width: 100px;	
	  text-align: center;
	  text-decoration: none;
	  margin: 5px 2px;
	}

	.fa:hover {
	    opacity: 0.7;
	}

	.fa-facebook {
	  background: #3B5998;
	  color: white;
	}


	.fa-linkedin {
	  background: #007bb5;
	  color: white;
	}

	.fa-youtube {
	  background: #bb0000;
	  color: white;
	}

	.fa-instagram {
	  background: #125688;
	  color: white;
	}


	.fa-skype {
	  background: #00aff0;
	  color: white;
	}

	.fa-yahoo {
	  background: #430297;
	  color: white;
	}

	.link{
		text-align: center;
		border:solid 0.5px black;
		width: 80%;
		font-size: 60px;
		float: left;
		margin: 10%;
	    text-decoration:none; 
	    color: green;
	    background-color: lightgreen;
	    padding-top: 5px;
	    padding-bottom: 5px;
	}
	td{
		font-size: 40px;
	}

	.myInput{
		padding-top: 30px; padding-bottom: 30px; font-size: 40px;
	}
		  /* Header/Logo Title */
	.header {
	 padding: 250px;
	 float: left;
	 text-align: center;
	 background-image: url(Foto/F3.jpg);
	 background-position: center;
     background-attachment: fixed;
	 background-repeat: no-repeat;
	 background-size: cover;
	 color: green;
    
    }
}







